.edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit_form_cell{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #414141;
    padding: 50px;
    border-radius: 5px;
}