.comment {
    display: flex;
    align-items: center;
    background-color: #FEFEFE;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

.list_comments {
    padding: 10px;
    height: 100px;
    background-color: #414141;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
    overflow-y: scroll;
    border-style: solid;
}

.comment_user {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}